.about{
    display: inline-block;
    width: 600px;
    padding: 2%;
    color: #fff;

    @media (max-width: 767px) {
        width: auto;
    }
     & p{
        text-align: justify;
        line-height : 25px;
        @include font(16px, $card-font-text);
    }

    & h4{
        @include font(30px, $card-font-title);
        margin-bottom: 25px;
    }

    @media (max-width: 767px) {
        display: block;
        height: auto;
    }
}

.hobbie{
    margin: 30px;
    width: 360px;
    background-color: #dce3e3;
    border-radius: 5px;
    box-shadow: 3px 3px 20px 5px rgba(24,24,24,0.8);

    @media (max-width: 769px) {
        width: 300px;
    }

    &__img{
        width: 360px;
        height: 360px;
        border-radius: 5px;
        transition: 2s;

        @media (max-width: 769px) {
            width: 300px;
            height: 300px;
        }

        &:hover{
            transform: rotateY(180deg);
            transform-style: preserve-3d;
            cursor: pointer;
        }
    }

    &__title{
        @include font(30px, $tech_font_title);
        color: #fff;
        font-weight: 800;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    &__description{
        text-align: justify;
        line-height : 25px;
        padding: 2%;
    }
}