$card-font-title: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$card-font-text: Arial, Helvetica, sans-serif;
$tech_font_title: "Helvetica Neue",Helvetica,Arial,sans-serif;
$background: #1a283b;